.Education1{
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 {
  display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 30px;

}

.card1 {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height:250px;
}

.card1-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.company-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.company-name {
  font-size: 14px;
  font-weight: bold;
}

.Education1 h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.job-title1 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.duration1 {
  color: #888888;
  margin-bottom: 10px;
}

.Percenatge1 {
  margin-bottom: 10px;
}

.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
